table.dataTable thead tr > .dtfc-fixed-left,
table.dataTable thead tr > .dtfc-fixed-right {
    z-index: 1;
    background-color: #3B4147FF;
    color: white;
}
table.dataTable tbody tr > .dtfc-fixed-left,
table.dataTable tbody tr > .dtfc-fixed-right {
    z-index: 1;
    background-color: #3B4147FF;
    color: white;
}

table.dataTable tfoot tr > .dtfc-fixed-left,
table.dataTable tfoot tr > .dtfc-fixed-right {
    z-index: 1;
    background-color: #3B4147FF;
    color: white;
}

div.dtfc-left-top-blocker,
div.dtfc-right-top-blocker {
    background-color: #3B4147FF;
    color: white;
    /*background-color: #3d3939;*/
}